<div style="text-align: center;">
  <h1>Welcome to {{title}}!!!</h1>
  Enter currency to convert:
  <input type="number" name="num1" (keypress)="onlyNumbersAllowed($event)" [(ngModel)]="num1"><br><br>
<button (click)="converttoUSD()"> Convert from INR to USD using Get</button>
<button (click)="converttoINR()"> Convert from USD to INR using Get</button><br><br>
<button (click)="converttoUSDinPost()"> Convert from INR to USD using Post</button>
<button (click)="converttoINRinPost()"> Convert from USD to INR using Post</button><br>
<!-- <h3>Result after conversion: {{res|currency}}</h3> -->
<app-currency [result]="res"></app-currency>
</div>

